
.virtual{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.virtual-right{
    width: 50rem;
}

.virtual-left{
    width: 30%;
}
.virtual-left>p{
    font-size: 1.5rem;
    opacity: 0.8;
    letter-spacing: 2px;
}
.virtual-left>img{
    width: 10rem;
    transform: translate(-2rem , -1rem);
}
