.product-section {
    display: flex;
}

.item-left {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;

}

.item-left>ul {
    list-style-type: none;
}

.item-left>ul>li {
    margin-top: 2rem;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.item-left>ul>li:hover {
    color: orange;
}

span {
    height: 30rem;
    border: 1px solid orange;
}

.item-container {
    width: 70%;
    height: 30rem;
    display: flex;
    overflow-x: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    scroll-behavior: smooth;
    transition: 0.5s ease;

}

.item-container::-webkit-scrollbar {
    background-color: transparent;
}

.item-container::-webkit-scrollbar-thumb {
    background-color: rgba(60, 137, 237, 0.855);
    border-radius: 10px;

}

.product-container {
    min-width: 18rem;
    height: 10rem;
    background-color: white;
    margin-top: 2rem;
    border-radius: 10px;
}
.product-head>h1{
    display: inline;
}
.product-head>img{
    width: 7rem;
}
.product-head{
    text-align: center;
    margin-top: 5rem;
}

/* ////////////////////////////////////// */

.product-container{
    display: flex;
    overflow: hidden;
    box-shadow: 14px 18px 15px 10px rgba(0, 0, 0, 0.25);
}
.product-container>.item-img>img{
    width: 8rem;
    height: 10rem;
    object-fit: contain;
}
.item-img{
    width: 8rem;
    height: 10rem;
}
.item-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;
}
.item-info>span:first-of-type{
    font-size: 2.5rem;
    font-weight: 900;
    opacity: 0.8;
    border: none;
}
.item-info>span:last-of-type{
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 4rem;
    border: none;
}
.item-info>span:nth-child(2){
    border: none;
}
