.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.nav>ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

.nav>ul>li {
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav>ul>li>input {
    height: 1.4rem;
    padding-left: 0.7rem;
    outline: none;
}

.nav>ul>li:hover {
    color: orange;
    transform: scale(1.1);
    border-bottom: 1px solid black;
}

.nav>.left {
    display: flex;
    align-items: center;
    font-family: 'Castoro Titling', cursive;

}

.nav>.left>img {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
}

/* //////////////////////////////////////////////////////////////// */

.main-center{
    
}
.main-center>div{
    background-color: rgba(60, 137, 237, 0.855);
    height: 560px;
    width: 560px;
    border-radius: 50%;
}
.main-center>div>img{
    object-fit: contain;
    height: 560px;
    width: 560px;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-left{
    width: 20%;
    padding-left: 2rem;
    object-fit: contain;
}
.main-left>h3{
    font-size: 1.3rem;
    opacity: 0.8;
}
.main-left>div>h1{
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.main-right{
    padding-right: 2rem;
}
.main-right div h1{
    font-size: 2.5rem;
}

/* ///////////////////////////////////////////// */

.slider{
    width: 50%;
}