.testimonial-img {
    width: 30rem;
    height: 20rem;
    object-fit: contain;
    margin-left: 35%;
    margin-top: 5rem;
}

.testimonial-slider {
    width: auto;
    height: 40rem;
    display: flex;
    overflow-x: hidden;
    overflow-x: scroll;
}

/* /////////////////////////////// */

.slide {
    min-width: 25rem;
    height: 15rem;
    background-color: white;
    border-radius: 10px;
    margin-left: 2rem;
    display: flex;
}

.profile {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    border-radius: 100%;
    margin-top: 4rem;
    margin-left: 0.5rem;
}

.slide>span>p {
    text-indent: 5rem;
    text-align: left;
    font-size: 0.9rem;
}

.slide>span {
    border: none;
    padding: 1rem;
    padding-top: 0;
}

.slide>span>h1 {
    opacity: 0.8;
    text-align: center;
    color: orange;
    font-weight: 200;
}